{% import 'macros/form.html' as form %}

{% extends "page.html" %}


{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">Contact us</h1>

        {% block contact_form %}
            <form class="dataset-form form-horizontal" method="post">
              {{ form.errors(error_summary) }}

              <fieldset>

                {{ form.input('name', label=_('Contact Name'), id='field-name', value=data.name, error=errors.name, classes=['control-medium'], is_required=true) }}

                {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, classes=['control-medium'], is_required=true) }}

                {{ form.markdown('content', label=_('Your Request'), id='field-content', value=data.content, error=errors.content, placeholder=_('What do you have to tell us?'), is_required=true) }}

              {% if g.recaptcha_publickey %}
                {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
              {% endif %}

              </fieldset>

              <div class="form-actions">
                {{ form.required_message() }}
                <button class="btn btn-primary" type="submit" name="save">{{ _('Submit') }}</button>
              </div>
            </form>
        {% endblock %}

    </div>
  </article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Contact Us') }}
  </h2>
  <div class="module-content">
    <p>
      Questions? Comments? We are always glad to hear from you!
    </p>
  </div>
</div>
{% endblock %}