{% ckan_extends %}

{% block contact_link %}
    <li>
      <a href="{{ h.url_for('contact_form') }}" title="{{ _('Contact') }}">
        {% if c.userobj %}
          <i class="icon-envelope"></i>
        {% else %}
           {{ _('Contact') }}
        {% endif %}
      </a>
    </li>
{% endblock %}

{% block header_account_notlogged %}
    {{ super() }}
    {{ self.contact_link() }}
{% endblock %}

{% block header_account_logged %}
    {{ super() }}
    {{ self.contact_link() }}
{% endblock %}