{#
Displays information about accessing a resource via the API.

datastore_root_url - The root API url.
resource_id - The resource id
embedded - If true will not include the "modal" classes on the snippet.

Example

    {% snippet 'ajax_snippets/api_info.html', datastore_root_url=datastore_root_url, resource_id=resource_id, embedded=true %}

#}


<div class="modal">
  <div class="modal-header">
    <h3>
      {{ _('Contact form') }}
    </h3>
  </div>
  <div class="modal-body" style="max-height: 550px!important">
      {% set data = {} %}
      {% set errors = {} %}
      {% set error_summary = {} %}
      {% include "contact/snippets/form.html" %}
  </div>
</div>